In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [7]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [10]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 794us/step - loss: 299.4433 - accuracy: 0.3603
Epoch 2/100
35/35 [==============================] - 0s 829us/step - loss: 4.3480 - accuracy: 0.7858
Epoch 3/100
35/35 [==============================] - 0s 723us/step - loss: 0.6713 - accuracy: 0.8276
Epoch 4/100
35/35 [==============================] - 0s 769us/step - loss: 0.6646 - accuracy: 0.8276
Epoch 5/100
35/35 [==============================] - 0s 845us/step - loss: 0.6575 - accuracy: 0.8276
Epoch 6/100
35/35 [==============================] - 0s 720us/step - loss: 0.6503 - accuracy: 0.8276
Epoch 7/100
35/35 [==============================] - 0s 657us/step - loss: 0.6430 - accuracy: 0.8276
Epoch 8/100
35/35 [==============================] - 0s 776us/step - loss: 0.6357 - accuracy: 0.8276
Epoch 9/100
35/35 [==============================] - 0s 703us/step - loss: 0.6285 - accuracy: 0.8276
Epoch 10/100
35/35 [==============================] - 0s 661us/step - loss: 0.6215 - accuracy: 0.8276
Epoch 11/100
35/35 [==============================] - 0s 846us/step - loss: 0.6145 - accuracy: 0.8276
Epoch 12/100
35/35 [==============================] - 0s 864us/step - loss: 0.6078 - accuracy: 0.8276
Epoch 13/100
35/35 [==============================] - 0s 794us/step - loss: 0.6013 - accuracy: 0.8276
Epoch 14/100
35/35 [==============================] - 0s 804us/step - loss: 0.5948 - accuracy: 0.8276
Epoch 15/100
35/35 [==============================] - 0s 770us/step - loss: 0.5887 - accuracy: 0.8276
Epoch 16/100
35/35 [==============================] - 0s 803us/step - loss: 0.5827 - accuracy: 0.8276
Epoch 17/100
35/35 [==============================] - 0s 866us/step - loss: 0.5769 - accuracy: 0.8276
Epoch 18/100
35/35 [==============================] - 0s 800us/step - loss: 0.5714 - accuracy: 0.8276
Epoch 19/100
35/35 [==============================] - 0s 878us/step - loss: 0.5661 - accuracy: 0.8276
Epoch 20/100
35/35 [==============================] - 0s 890us/step - loss: 0.5610 - accuracy: 0.8276
Epoch 21/100
35/35 [==============================] - 0s 804us/step - loss: 0.5561 - accuracy: 0.8276
Epoch 22/100
35/35 [==============================] - 0s 774us/step - loss: 0.5514 - accuracy: 0.8276
Epoch 23/100
35/35 [==============================] - 0s 693us/step - loss: 0.5468 - accuracy: 0.8276
Epoch 24/100
35/35 [==============================] - 0s 668us/step - loss: 0.5424 - accuracy: 0.8276
Epoch 25/100
35/35 [==============================] - 0s 779us/step - loss: 0.5382 - accuracy: 0.8276
Epoch 26/100
35/35 [==============================] - 0s 655us/step - loss: 0.5341 - accuracy: 0.8276
Epoch 27/100
35/35 [==============================] - 0s 666us/step - loss: 0.5303 - accuracy: 0.8276
Epoch 28/100
35/35 [==============================] - 0s 826us/step - loss: 0.5266 - accuracy: 0.8276
Epoch 29/100
35/35 [==============================] - 0s 710us/step - loss: 0.5232 - accuracy: 0.8276
Epoch 30/100
35/35 [==============================] - 0s 652us/step - loss: 0.5198 - accuracy: 0.8276
Epoch 31/100
35/35 [==============================] - 0s 775us/step - loss: 0.5166 - accuracy: 0.8276
Epoch 32/100
35/35 [==============================] - 0s 696us/step - loss: 0.5136 - accuracy: 0.8276
Epoch 33/100
35/35 [==============================] - 0s 701us/step - loss: 0.5107 - accuracy: 0.8276
Epoch 34/100
35/35 [==============================] - 0s 800us/step - loss: 0.5079 - accuracy: 0.8276
Epoch 35/100
35/35 [==============================] - 0s 741us/step - loss: 0.5053 - accuracy: 0.8276
Epoch 36/100
35/35 [==============================] - 0s 687us/step - loss: 0.5027 - accuracy: 0.8276
Epoch 37/100
35/35 [==============================] - 0s 788us/step - loss: 0.5003 - accuracy: 0.8276
Epoch 38/100
35/35 [==============================] - 0s 823us/step - loss: 0.4980 - accuracy: 0.8276
Epoch 39/100
35/35 [==============================] - 0s 758us/step - loss: 0.4958 - accuracy: 0.8276
Epoch 40/100
35/35 [==============================] - 0s 692us/step - loss: 0.4937 - accuracy: 0.8276
Epoch 41/100
35/35 [==============================] - 0s 719us/step - loss: 0.4917 - accuracy: 0.8276
Epoch 42/100
35/35 [==============================] - 0s 910us/step - loss: 0.4899 - accuracy: 0.8276
Epoch 43/100
35/35 [==============================] - 0s 793us/step - loss: 0.4881 - accuracy: 0.8276
Epoch 44/100
35/35 [==============================] - 0s 786us/step - loss: 0.4863 - accuracy: 0.8276
Epoch 45/100
35/35 [==============================] - 0s 789us/step - loss: 0.4848 - accuracy: 0.8276
Epoch 46/100
35/35 [==============================] - 0s 739us/step - loss: 0.4832 - accuracy: 0.8276
Epoch 47/100
35/35 [==============================] - 0s 879us/step - loss: 0.4817 - accuracy: 0.8276
Epoch 48/100
35/35 [==============================] - 0s 934us/step - loss: 0.4804 - accuracy: 0.8276
Epoch 49/100
35/35 [==============================] - 0s 715us/step - loss: 0.4791 - accuracy: 0.8276
Epoch 50/100
35/35 [==============================] - 0s 814us/step - loss: 0.4779 - accuracy: 0.8276
Epoch 51/100
35/35 [==============================] - 0s 765us/step - loss: 0.4768 - accuracy: 0.8276
Epoch 52/100
35/35 [==============================] - 0s 788us/step - loss: 0.4756 - accuracy: 0.8276
Epoch 53/100
35/35 [==============================] - 0s 771us/step - loss: 0.4746 - accuracy: 0.8276
Epoch 54/100
35/35 [==============================] - 0s 867us/step - loss: 0.4737 - accuracy: 0.8276
Epoch 55/100
35/35 [==============================] - 0s 797us/step - loss: 0.4728 - accuracy: 0.8276
Epoch 56/100
35/35 [==============================] - 0s 725us/step - loss: 0.4719 - accuracy: 0.8276
Epoch 57/100
35/35 [==============================] - 0s 736us/step - loss: 0.4711 - accuracy: 0.8276
Epoch 58/100
35/35 [==============================] - 0s 735us/step - loss: 0.4703 - accuracy: 0.8276
Epoch 59/100
35/35 [==============================] - 0s 776us/step - loss: 0.4695 - accuracy: 0.8276
Epoch 60/100
35/35 [==============================] - 0s 772us/step - loss: 0.4689 - accuracy: 0.8276
Epoch 61/100
35/35 [==============================] - 0s 781us/step - loss: 0.4683 - accuracy: 0.8276
Epoch 62/100
35/35 [==============================] - 0s 960us/step - loss: 0.4677 - accuracy: 0.8276
Epoch 63/100
35/35 [==============================] - 0s 773us/step - loss: 0.4671 - accuracy: 0.8276
Epoch 64/100
35/35 [==============================] - 0s 781us/step - loss: 0.4665 - accuracy: 0.8276
Epoch 65/100
35/35 [==============================] - 0s 796us/step - loss: 0.4660 - accuracy: 0.8276
Epoch 66/100
35/35 [==============================] - 0s 786us/step - loss: 0.4656 - accuracy: 0.8276
Epoch 67/100
35/35 [==============================] - 0s 775us/step - loss: 0.4651 - accuracy: 0.8276
Epoch 68/100
35/35 [==============================] - 0s 782us/step - loss: 0.4647 - accuracy: 0.8276
Epoch 69/100
35/35 [==============================] - 0s 785us/step - loss: 0.4644 - accuracy: 0.8276
Epoch 70/100
35/35 [==============================] - 0s 761us/step - loss: 0.4640 - accuracy: 0.8276
Epoch 71/100
35/35 [==============================] - 0s 740us/step - loss: 0.4637 - accuracy: 0.8276
Epoch 72/100
35/35 [==============================] - 0s 788us/step - loss: 0.4634 - accuracy: 0.8276
Epoch 73/100
35/35 [==============================] - 0s 765us/step - loss: 0.4631 - accuracy: 0.8276
Epoch 74/100
35/35 [==============================] - 0s 713us/step - loss: 0.4628 - accuracy: 0.8276
Epoch 75/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4626 - accuracy: 0.8276
Epoch 76/100
35/35 [==============================] - 0s 765us/step - loss: 0.4623 - accuracy: 0.8276
Epoch 77/100
35/35 [==============================] - 0s 755us/step - loss: 0.4621 - accuracy: 0.8276
Epoch 78/100
35/35 [==============================] - 0s 748us/step - loss: 0.4619 - accuracy: 0.8276
Epoch 79/100
35/35 [==============================] - 0s 748us/step - loss: 0.4617 - accuracy: 0.8276
Epoch 80/100
35/35 [==============================] - 0s 748us/step - loss: 0.4616 - accuracy: 0.8276
Epoch 81/100
35/35 [==============================] - 0s 781us/step - loss: 0.4614 - accuracy: 0.8276
Epoch 82/100
35/35 [==============================] - 0s 832us/step - loss: 0.4613 - accuracy: 0.8276
Epoch 83/100
35/35 [==============================] - 0s 724us/step - loss: 0.4612 - accuracy: 0.8276
Epoch 84/100
35/35 [==============================] - 0s 713us/step - loss: 0.4610 - accuracy: 0.8276
Epoch 85/100
35/35 [==============================] - 0s 717us/step - loss: 0.4609 - accuracy: 0.8276
Epoch 86/100
35/35 [==============================] - 0s 716us/step - loss: 0.4608 - accuracy: 0.8276
Epoch 87/100
35/35 [==============================] - 0s 705us/step - loss: 0.4607 - accuracy: 0.8276
Epoch 88/100
35/35 [==============================] - 0s 652us/step - loss: 0.4606 - accuracy: 0.8276
Epoch 89/100
35/35 [==============================] - 0s 691us/step - loss: 0.4605 - accuracy: 0.8276
Epoch 90/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4604 - accuracy: 0.8276
Epoch 91/100
35/35 [==============================] - 0s 1ms/step - loss: 0.4604 - accuracy: 0.8276
Epoch 92/100
35/35 [==============================] - 0s 939us/step - loss: 0.4603 - accuracy: 0.8276
Epoch 93/100
35/35 [==============================] - 0s 890us/step - loss: 0.4603 - accuracy: 0.8276
Epoch 94/100
35/35 [==============================] - 0s 904us/step - loss: 0.4602 - accuracy: 0.8276
Epoch 95/100
35/35 [==============================] - 0s 712us/step - loss: 0.4601 - accuracy: 0.8276
Epoch 96/100
35/35 [==============================] - 0s 672us/step - loss: 0.4601 - accuracy: 0.8276
Epoch 97/100
35/35 [==============================] - 0s 774us/step - loss: 0.4601 - accuracy: 0.8276
Epoch 98/100
35/35 [==============================] - 0s 758us/step - loss: 0.4601 - accuracy: 0.8276
Epoch 99/100
35/35 [==============================] - 0s 736us/step - loss: 0.4600 - accuracy: 0.8276
Epoch 100/100
35/35 [==============================] - 0s 701us/step - loss: 0.4600 - accuracy: 0.8276

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3923 - accuracy: 0.8723
Loss: 0.3923497498035431, Accuracy: 0.8722826242446899